Repository vrtdev/flutter_workmanager, pull requests merged in 2019-10, with the labels that each got.

#90 Comments
  IOS_SETUP.md
  lib/src/workmanager.dart
Labels: documentation, flutter/dart

#94 ✅ Bugfix/fix ios background fetch
  CHANGELOG.md
  IOS_SETUP.md
  README.md
  example/ios/Podfile.lock
  example/ios/Runner.xcodeproj/project.pbxproj
  example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  example/ios/Runner/AppDelegate.swift
  example/lib/main.dart
  ios/Classes/SwiftWorkmanagerPlugin.swift
  lib/src/workmanager.dart
  pubspec.yaml
Labels: documentation, flutter/dart, iOS

#98 📝 Update Bug reporting Issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: RTFM, documentation, enhancement

#100 Added minimim iOS deployment target to prerequisites
  .art/ios_debug_notification_types.png
  IOS_SETUP.md
Labels: documentation

#102 🤦‍♂️🧪 Fix tests
  IOS_SETUP.md
  README.md
  example/lib/main.dart
  lib/src/workmanager.dart
  test/json_mapper_helper_test.dart
Labels: documentation, flutter/dart

#103 ⏫ Use inputData in favour of payload
  IOS_SETUP.md
  README.md
  android/src/main/kotlin/be/tramckrijte/workmanager/BackgroundWorker.kt
  android/src/main/kotlin/be/tramckrijte/workmanager/DebugHelper.kt
  android/src/main/kotlin/be/tramckrijte/workmanager/Extractor.kt
  example/lib/main.dart
  lib/src/workmanager.dart
  test/json_mapper_helper_test.dart
Labels: android, documentation, flutter/dart

#104 ci status badge
  README.md
Labels: documentation

#108 ✅🐞 Don't set a default BackoffPolicy
  CHANGELOG.md
  README.md
  android/src/main/kotlin/be/tramckrijte/workmanager/BackgroundWorker.kt
  android/src/main/kotlin/be/tramckrijte/workmanager/Extractor.kt
  android/src/main/kotlin/be/tramckrijte/workmanager/WorkmanagerCallHandler.kt
  lib/src/workmanager.dart
  pubspec.yaml
  test/json_mapper_helper_test.dart
Labels: android, documentation, flutter/dart

#112 Added info on setting platform in pod file
  IOS_SETUP.md
Labels: documentation, iOS
