Repository vrtdev/flutter_workmanager, pull requests merged in 2019-08, with the labels that each got.

#30 #26: Updated the documentation to make sure users of the plugin know …
  README.md
  lib/src/workmanager.dart
Labels: android, documentation

#39 🔫 Android Debug Notification Improvements
  .art/android_debug_notification.gif
  ANDROID_SETUP.md
  android/src/main/kotlin/be/tramckrijte/workmanager/BackgroundWorker.kt
  android/src/main/kotlin/be/tramckrijte/workmanager/DebugHelper.kt
  example/pubspec.lock
Labels: android, documentation, enhancement

#38 Feature/ios local notifications
  .art/ios_debug_notifications.gif
  IOS_SETUP.md
  android/src/main/kotlin/be/tramckrijte/workmanager/Extractor.kt
  example/lib/main.dart
  ios/Classes/DebugNotificationHelper.swift
  ios/Classes/Extensions.swift
  ios/Classes/SwiftWorkmanagerPlugin.swift
  ios/Classes/ThumbnailGenerator.swift
  ios/Classes/UserDefaultsHelper.swift
  lib/src/workmanager.dart
  test/json_mapper_helper_test.dart
Labels: documentation, enhancement, iOS

#40 🎉 Release PR for v0.0.13
  CHANGELOG.md
  README.md
  pubspec.yaml
Labels: release

#43 Fixed missing argument for backgroundChannel's iOSPerformFetch
  CHANGELOG.md
  README.md
  ios/Classes/SwiftWorkmanagerPlugin.swift
  pubspec.yaml
Labels: bug, iOS

#44 [iOS] Added support for FlutterPlugin's setPluginRegistrantCallback
  CHANGELOG.md
  IOS_SETUP.md
  README.md
  ios/Classes/SwiftWorkmanagerPlugin.swift
  ios/Classes/WorkmanagerPlugin.m
  pubspec.yaml
Labels: bug, iOS

#54 ⬆️ Improve Debug Notification @ glance
  android/src/main/kotlin/be/tramckrijte/workmanager/DebugHelper.kt
Labels: android, enhancement
