Repository vrtdev/flutter_workmanager, pull requests merged in 2019-09, with the labels that each got.

#56 🐢 Simplify local notification scheduling
  ios/Classes/DebugNotificationHelper.swift
Labels: iOS

#65 Bugfix/support for flutter 1.9.1
  CHANGELOG.md
  README.md
  ios/Classes/SwiftWorkmanagerPlugin.swift
  pubspec.yaml
Labels: documentation, iOS

#69 Added support for inputData
  CHANGELOG.md
  README.md
  android/src/main/kotlin/be/tramckrijte/workmanager/BackgroundWorker.kt
  android/src/main/kotlin/be/tramckrijte/workmanager/DebugHelper.kt
  android/src/main/kotlin/be/tramckrijte/workmanager/Extractor.kt
  android/src/main/kotlin/be/tramckrijte/workmanager/WorkmanagerCallHandler.kt
  example/lib/main.dart
  example/pubspec.lock
  lib/src/workmanager.dart
  pubspec.lock
  pubspec.yaml
  test/json_mapper_helper_test.dart
Labels: android, documentation, enhancement, flutter/dart

#71 Fix readme (date -> data)
  README.md
Labels: documentation

#79 Fix callback params
  README.md
  lib/src/workmanager.dart
Labels: documentation, flutter/dart

#83 Assertion CallbackDispatcher is not static
  example/ios/Flutter/.gitignore
  example/pubspec.lock
  lib/src/workmanager.dart
  pubspec.lock
Labels: flutter/dart
