Repository vrtdev/flutter_workmanager, pull requests merged in 2020-02, with the labels that each got.

#141 Fix typo in example
  example/lib/main.dart
Labels: flutter/dart

#140 Cleanup FlutterEngine when the job is stopped or canceled.
  android/build.gradle
  android/src/main/kotlin/be/tramckrijte/workmanager/BackgroundWorker.kt
Labels: android

#144 Several fixes
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/kotlin/be/tramckrijte/workmanager_example/EmbeddingV1Activity.kt
  example/android/app/src/main/kotlin/be/tramckrijte/workmanager_example/EmbeddingV1Application.kt
  lib/src/workmanager.dart
Labels: android, flutter/dart
